<div class="modal-backdrop fade show"></div>
<div class="modal fade show" id="editModal" tabindex="-1" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Редактирование новорожденного</h5>
        <button type="button" class="btn-close" onclick="closeModal()"></button>
      </div>
      <form id="editForm" data-id="<%= @newborn.id %>">
        <div class="modal-body">
          <div class="row g-3">
            <!-- Основные данные -->
            <div class="col-md-4">
              <label class="form-label">Фамилия*</label>
              <input type="text" class="form-control" name="newborn[last_name]" value="<%= @newborn.last_name %>" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">Имя*</label>
              <input type="text" class="form-control" name="newborn[first_name]" value="<%= @newborn.first_name %>" required>
            </div>
            <div class="col-md-4">
              <label class="form-label">Отчество</label>
              <input type="text" class="form-control" name="newborn[patronymic]" value="<%= @newborn.patronymic %>">
            </div>

            <!-- Даты -->
            <div class="col-md-3">
              <label class="form-label">Дата рождения*</label>
              <input type="date" class="form-control" name="newborn[birth_date]" value="<%= @newborn.birth_date %>" required>
            </div>
            <div class="col-md-3">
              <label class="form-label">Дата поступления</label>
              <input type="date" class="form-control" name="newborn[admission_date]" value="<%= @newborn.admission_date %>">
            </div>
            <div class="col-md-3">
              <label class="form-label">Дата выписки</label>
              <input type="date" class="form-control" name="newborn[discharge_date]" value="<%= @newborn.discharge_date %>">
            </div>
            <div class="col-md-3">
              <label class="form-label">Койко-дни</label>
              <input type="text" class="form-control" value="<%= @newborn.bed_days %>" readonly>
            </div>

            <!-- Физические параметры -->
            <div class="col-md-3">
              <label class="form-label">Масса при рождении (г)*</label>
              <input type="number" step="10" class="form-control" name="newborn[birth_weight]" value="<%= @newborn.birth_weight %>" required>
            </div>
            <div class="col-md-3">
              <label class="form-label">Масса при выписке (г)</label>
              <input type="number" step="10" class="form-control" name="newborn[discharge_weight]" value="<%= @newborn.discharge_weight %>">
            </div>
            <div class="col-md-3">
              <label class="form-label">Рост при рождении (см)*</label>
              <input type="number" step="0.1" class="form-control" name="newborn[birth_height]" value="<%= @newborn.birth_height %>" required>
            </div>
            <div class="col-md-3">
              <label class="form-label">СГ (нед.)*</label>
              <input type="number" step="0.1" class="form-control" name="newborn[gestational_age]" value="<%= @newborn.gestational_age %>" required>
            </div>

            <!-- Метод родоразрешения и пол -->
            <div class="col-md-3">
              <label class="form-label">Метод родоразрешения</label>
              <select class="form-select" name="newborn[delivery_method]">
                <option value="КС" <%= 'selected' if @newborn.delivery_method == 'КС' %>>Кесарево сечение</option>
                <option value="Сам." <%= 'selected' if @newborn.delivery_method == 'Сам.' %>>Самостоятельные</option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label">Пол*</label>
              <select class="form-select" name="newborn[gender]" required>
                <option value="M" <%= 'selected' if @newborn.gender == 'M' %>>Мужской</option>
                <option value="F" <%= 'selected' if @newborn.gender == 'F' %>>Женский</option>
              </select>
            </div>

            <!-- Апгар -->
            <div class="col-md-3">
              <label class="form-label">Апгар (1 мин)</label>
              <input type="number" min="0" max="10" class="form-control" name="newborn[apgar_1]" value="<%= @newborn.apgar_1 %>">
            </div>
            <div class="col-md-3">
              <label class="form-label">Апгар (5 мин)</label>
              <input type="number" min="0" max="10" class="form-control" name="newborn[apgar_5]" value="<%= @newborn.apgar_5 %>">
            </div>

            <!-- Прививки -->
            <div class="col-md-3">
              <label class="form-label">Гепатит В</label>
              <select class="form-select" name="newborn[hepatitis_b]">
                <option value="Да" <%= 'selected' if @newborn.hepatitis_b == 'Да' %>>Да</option>
                <option value="Нет" <%= 'selected' if @newborn.hepatitis_b == 'Нет' %>>Нет</option>
              </select>
            </div>
            <div class="col-md-3">
              <label class="form-label">БЦЖ</label>
              <select class="form-select" name="newborn[bcg]">
                <option value="Да" <%= 'selected' if @newborn.bcg == 'Да' %>>Да</option>
                <option value="Нет" <%= 'selected' if @newborn.bcg == 'Нет' %>>Нет</option>
              </select>
            </div>

            <!-- Дополнительно -->
            <div class="col-md-3">
              <label class="form-label">Код МКБ</label>
              <input type="text" class="form-control" name="newborn[icd_code]" value="<%= @newborn.icd_code %>">
            </div>
            <div class="col-md-3">
              <label class="form-label">ВИЧ</label>
              <select class="form-select" name="newborn[hiv]">
                <option value="Да" <%= 'selected' if @newborn.hiv == 'Да' %>>Да</option>
                <option value="Нет" <%= 'selected' if @newborn.hiv == 'Нет' %>>Нет</option>
              </select>
            </div>

            <!-- Вскармливание -->
            <div class="col-md-4">
              <label class="form-label">Вскармливание</label>
              <select class="form-select" name="newborn[feeding]">
                <option value="Грудное" <%= 'selected' if @newborn.feeding == 'Грудное' %>>Грудное молоко</option>
                <option value="Смешанное" <%= 'selected' if @newborn.feeding == 'Смешанное' %>>Смешанное</option>
                <option value="Искусственное" <%= 'selected' if @newborn.feeding == 'Искусственное' %>>Искусственное</option>
              </select>
            </div>

            <!-- Текстовые поля -->
            <div class="col-md-8">
              <label class="form-label">Сопутствующее</label>
              <input type="text" class="form-control" name="newborn[comorbidities]" value="<%= @newborn.comorbidities %>">
            </div>
            <div class="col-12">
              <label class="form-label">Фетопатия</label>
              <input type="text" class="form-control" name="newborn[fetopathy]" value="<%= @newborn.fetopathy %>">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="closeModal()">Закрыть</button>
          <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function closeModal() {
    document.getElementById('modalContainer').innerHTML = '';
  }
</script>